h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#button_48458a { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:92px; height:28px; background-color:#FF0000; background: linear-gradient(to bottom,#FF0000, #720000 50%, #590000 50%, #3F0000); border: 2px solid #FF0000;  }
#button_48458a:hover { background-color:#D10000; background: linear-gradient(to bottom,#D10000, #5E0000 50%, #490000 50%, #340000); border-color:#000000;  }
#button_48458a:hover span { color:#FFFFFF; }
#button_23baf3ea { vertical-align: bottom; border-radius: 15px; position:relative; display: inline-block; width:150px; height:32px; background-color:#5262DB;  }
#button_23baf3ea:hover { background-color:#7E89FF;  }
#button_23baf3ea:hover span { color:#FFFFFF; }
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_27de8c33 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:237px; background-color:#FFFFFF; background-image: url(rc_images/vynlosoft_themed_wallpaper.png); background-position:top left; background-size:cover;  }
#container_27de8c33_padding { margin: 10px; display: block;  }
#container_5ad5420e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:132px; background:none;  }
#container_5ad5420e_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:center; }
#img_32754fc4 { vertical-align: bottom; position:relative; display: inline-block; width:13%; background:none; height:auto;  }
#heading_7f47f038 { vertical-align: bottom; position:relative; display: inline-block; background-color:#0080C0;  }
.textstyle3 { text-align:left;display: block }
.textstyle4 { font-size:28pt; font-family:Arial, Helvetica, sans-serif; color:#FFFF00; font-weight:bold;  }
.textstyle5 { font-size:28pt; font-family:Arial, Helvetica, sans-serif; color:#FF0000; font-weight:bold;  }
#container_68fe4326 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#FAE156; background: linear-gradient(to bottom, #F9C848, #FAE156);  }
#container_68fe4326_padding { margin: 10px; display: block;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle6 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#container_9022bbf { vertical-align: top; position:relative; display: inline-block; width:90%; min-height:33px; background:none;  }
.textstyle7 { text-align:right; }
#container_1fd9dd1a { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#F9C949; background: linear-gradient(to bottom, #F9DD53, #F9C949);  }
#container_1fd9dd1a_padding { margin: 10px; display: block;  }
#container_1ccbda6e { box-sizing: border-box; vertical-align: top; border-radius: 15px; position:relative; display: inline-block; margin:10px; width:40%; min-height:350px; min-width:250px; max-width:300px; background-color:#E8E8E8; border: 1px solid #CDCDCD;  }
#container_1ccbda6e_padding { margin: 10px; display: block;  }
.textstyle8 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
.textstyle9 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
.textstyle10 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
